.Card{
  border: 1px black solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.Card-img{
  border-radius: 50px;
  margin-bottom: 10px;
  height: auto;
  max-width: 60%;
}
.Card-title{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
color: rgb(185, 101, 101);
}
.Card-description{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(134, 129, 129);



}